*{ 
    margin: 5;
    padding: 5;
    font-family: "Montserrat Alternates"
}

body {
    background-color: #ffffff;
    
} 

h1 { 
    margin: 20px auto; 
    border: 2px solid;
    text-align: center;
    font-family: "Fugaz One", sans-serif;
    margin: 100px 50px 50px 50px;
    font-size: 80px;
    line-height: 18px;
    color: coral;
   
}

img {
    float: right;
  }

h2 {
    text-align: center;
    font-size: 40px; 
    line-height: 40px;
    color: cornflowerblue
}

h3 { 
    text-align: center;
    color: cornflowerblue
}

.text-center {
    text-align: center;     
}

div {
    margin: 20px auto; 
    border: 2px solid;
    margin-left: 550px;
    border: 2px;
    width: 300px;
    word-wrap: normal;
    border-radius: 8px;
    padding: 5px;
  }

div { 
    margin: 20px auto;
    border: 2px solid;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align:justify; 
    color: cornflowerblue
}

img { 
    border: 2px white
    border-radius 5px; 
}

