body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.5s ease-in-out;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


body.background-1 {
    background-image: url('images/cookie1.png');
}

body.background-2 {
    background-image: url('images/image2.jpg');
}

body.background-3 {
    background-image: url('images/image3.jpg');
}

body.background-4 {
    background-image: url('images/image4.jpg');
}

.container {
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}