body {
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #ffffff;
}

.navbar {
    background-color: #40f75f;
    padding: 10px 20px; 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 10; 
}

.navbar ul {
    list-style-type: none; 
    display: flex; 
    justify-content: space-around; 
    margin: 0; 
    padding: 0; 
}

.navbar li {
    display: inline; 
}

.navbar a {
    text-decoration: none; 
    color: white; 
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-size: 18px; 
    padding: 10px; 
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.3); 
    border-radius: 5px; 
}

.slideshow-container {
    position: relative;
    padding: 10px;
    max-width: 400px;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.head-one { 
    padding-top: 300px;
    color: #40f75f;
    margin-left: 100px; 
    padding: 20px; 
    display: flex; 
    justify-content: flex-start; 
    flex-direction: column; 
    margin-bottom: 100px;

}

h1 { 
margin-top: 200px;
font-size: 40px
}

.paragraph { 
   font-family: "itc-avant-garde-gothic-pro", sans-serif;
    line-height: 110%;
    width: 300px;
    font-size: 14px;
    text-align: left;
    word-wrap: normal;
    border-radius: 8px;
}

.help-me {
    display: flex; 
    justify-content: flex-start; 
    flex-direction: column
}

.paragraph-two { 
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    line-height: 110%;
    width: 300px;
    font-size: 14px;
    text-align: left;
    word-wrap: normal;
    border-radius: 8px;
}

.slide {
    display: none;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
}

.caption {
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #40f75f;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    max-width: 90%;
    margin-top: 10px; 
    display: none; 
}

.slide {
    margin-top: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.slide img {
    width: 100%;
    height: auto;
}

.prev, .next {
    position: absolute;
    top: 50%;
    width: 50px; 
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    user-select: none;
    transform: translateY(-50%);
    transition: background-color 0.3s;
}

.prev {
    left: 10px;
    background-image: url('imgs/previous.png'); 

} 

.next {
    right: 10px; 
    background-image: url('imgs/next.png'); 
} 

.prev:hover, .next:hover {
    background-color: rgba(242, 255, 0, 0.8); 

.fade {
    animation: fade 1s;
}

@keyframes fade {
    from { opacity: 0.4 }
    to { opacity: 1 }
}

